<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/aop
        https://www.springframework.org/schema/aop/spring-aop.xsd">

    <!--定义 Bean-->
    <bean id="orderDao" class="t1.OrderDaoImpl"/>
    <!--定义切面-->
    <bean id="myOrderAspect" class="t1.MyOrderAspect"/>

    <aop:config>
        <!-- 切入点表达式-->
        <aop:pointcut id="beforePointCut" expression="execution(* t1.OrderDao.add(..))"/>
        <aop:pointcut id="throwPointCut" expression="execution(* t1.OrderDao.get(..))"/>
        <aop:pointcut id="afterReturnPointCut" expression="execution(* t1.OrderDao.modify(..))"/>
        <aop:pointcut id="afterPointCut" expression="execution(* t1.OrderDao.*(..))"/>

        <aop:aspect ref="myOrderAspect">
            <!--public void before()-->
            <aop:before method="before" pointcut-ref="beforePointCut"/>
            <!--public void afterReturning(Object returnValue)-->
            <aop:after-returning method="afterReturning" pointcut-ref="afterReturnPointCut" returning="returnValue"/>
            <!--public void afterThrow(Throwable exception)-->
            <aop:after-throwing method="afterThrow" pointcut-ref="throwPointCut" throwing="exception"/>
            <!--public void after()-->
            <aop:after method="after" pointcut-ref="afterPointCut"/>
            <!--public void around(ProceedingJoinPoint proceedingJoinPoint) throws Throwable-->
            <aop:around method="around" pointcut-ref="beforePointCut"/>
        </aop:aspect>
    </aop:config>

</beans>